# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
dependency-reduced-pom.xml
build.log
release.properties

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Project Specific
localstack/
job-ingestion-service/localstack/
*.log

# OS
.DS_Store
Thumbs.db

# Personal Note
personalNote/

# Task & Planning
task_plan.md
progress.md